.navbar-nav .nav-link {
    /* font-size: 18px; */
    padding: 4px;
    color: var(--bg-secondary);

}
.navbar {
    padding: 0.1rem 0rem;
}
.position-relative .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -2px;
}
.navbar-nav .dropdown>.dropdown-menu,
.navbar-nav .position-relative>.dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: .2s;
}
.navbar-nav .dropdown:hover>.dropdown-menu,
.navbar-nav .position-relative:hover>.dropdown-menu {
    opacity: 1;
    visibility: visible;
    transition: .5s;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    /* margin-top:-6px; */
}
#titleNavbar {
    text-transform: uppercase;
}
.align-items-end {
    text-transform: uppercase;
}

@media (max-width: 994px) {
    .navbar-nav .dropdown>.dropdown-menu,
    .navbar-nav .position-relative>.dropdown-menu {
        opacity: 1;
        visibility: visible;
        transition: .5s;
    }
}
